<div class="background-effects">
  <div class="wave"></div>
  <div class="floating-dot"></div>
  <div class="floating-dot"></div>
  <div class="floating-dot"></div>
  <div class="floating-dot"></div>
  <div class="floating-dot"></div>
  <div class="floating-dot"></div>
  <div class="floating-dot"></div>
  <div class="floating-dot"></div>
  <div class="floating-dot"></div>
  <div class="floating-dot"></div>
</div>
